*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(171, 201, 167);
}
.parent{
    gap: 6rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: rgb(125, 168, 118);
    color: white;
    border: 2px solid rgb(112, 148, 106);;
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 5px 5px #F9A03F;
}
.btn:hover{
    transform: scale(1.03);
    background-color: rgb(114, 155, 108);;
    box-shadow: 5px 5px #e69239;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 2px solid white ;
    box-shadow: 15px 15px #F9A03F;
}

#container div {
    flex-basis: calc(100% / 16);
    background-color: #7da876;
    border: 1px solid rgba(255, 255, 255, 0.507);
}

.grid-item {
    transition:brightness 0.6s ease; /* Smooth transition for color change and opacity */
}
.grid-item:hover {
    filter:brightness(0.8);
}